/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-image: url(/images/triangles-download\ \(2\).svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
body {
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
body .highlight {
  background-color: #004F76;
  width: 20%;
  color: #D29EFF;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .highlight img {
  align-self: center;
  width: 100%;
}
body .highlight h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}
body .details {
  width: 76%;
  color: #FFDEFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .highlight {
    width: 90%;
    padding: 0;
  }
  body .highlight img {
    display: none;
  }
}
